/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/undefined/
### folders ###
/target/
/APP_HOME_IS_UNDEFINED/*.log
*.log
upload/*
0E273244-9956-41F6-AFC6-56981D9C6464
959C27D4-231B-4A7D-A0EC-729516205692
*.log
APP_HOME_IS_UNDEFINED/log/service.log
APP_HOME_IS_UNDEFINED/log/service.error.log
